spring:
  application:
    name: adopet
  datasource:
    url: jdbc:h2:mem:adopet
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
  h2:
    console:
      enabled: true
      path: /adopet

server:
  port: 1996

cron:
  expression: '59 23 * * * ?'